<launch>
  <arg name="engine_path" default="$(find td3_nav)/models/actor_fp16.engine"/>

  <rosparam file="$(find td3_nav)/config/params.yaml" command="load"/>
  <param name="planner/engine_path" value="$(arg engine_path)"/>

  <node pkg="td3_nav" type="planner_node" name="planner_node" output="screen"/>

  <node pkg="td3_nav" type="safety_node" name="safety_node" output="screen"/>
</launch>
